.cart-item{
    width: 100%;
    @include flex(row, space-between, center);
    h6{
        text-decoration: underline;
        color: $green;
        padding: 0.25rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.quantity-controls{
    span{
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 900px){
    .cart-item{
        @include flex(column, space-between, center);
    }

    .cart-item-price,
    .cart-item-details,
    .cart-item-quantity,
    .cart-item-total{
        width: 100%;
        @include flex(row, space-evenly, center);
    }

    .cart-item-price,
    .cart-item-total{
        width: 100%;
        @include flex(row, flex-end, center);
    }
}